<form (ngSubmit)="guardarFactura()">
    <div class="form-group">
      <h1>Facturas de Gasto</h1>
      <label for="ruc" class="form-label">Ruc:</label>
      <input type="text" class="form-control" id="ruc" name="ruc" [(ngModel)]="ruc">
    </div>
    
    <div class="form-group">
      <label for="valor" class="form-label">Valor de factura:</label>
      <input type="text" class="form-control" id="valor" name="valor" [(ngModel)]="valor">
    </div>
    
    <div class="form-group">
      <label for="gasto" class="form-label">Gasto:</label>
      <select class="form-select" id="gasto" name="gasto" [(ngModel)]="gasto">
        <option value="" disabled selected>Escoja el tipo de gasto</option>
        <option value="Salud">Salud</option>
        <option value="Vivienda">Vivienda</option>
        <option value="Educacion">Educación</option>
        <option value="Vestimenta">Vestimenta</option>
        <option value="Alimentación">Alimentación</option>
        <option value="Ninguno">Ninguno</option>
      </select>
    </div>
    <div>
      <p>RUC: {{ruc}}</p>
      <p>VALOR: {{valor}}</p>
      <p>TIPO GASTO: {{gasto}}</p>
     </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>